/* сброс стилей браузера */
* {
  box-sizing: border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */

.clear:after {
  content: " ";
  display: table;
  clear: both;
}

.clear {
	zoom: 1;	
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}


header {
	background-color:rgb(93,43,78); 
	background-image: linear-gradient(to left, rgb(93,43,78), rgb(8,2,50));
	padding-bottom: 30px;
}

header h1 {
	font-size: 3em;	
	color: white;
	font-weight: bold;
	padding-top: 30px;
	clear: both;
	padding-left: 10px;
}

nav {
	background-color: rgb(25,25,25);
	border: 1px solid rgba(255,255,255,.5);	
	border-left: none;
	border-right: none;
}
nav ul {
	padding: 0;
	margin: 0;	
}
nav li {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;	
}
nav a {
	float: left;
	font-size: .8em;	
	color: white;
	font-weight: normal;
	text-decoration: none;
	padding: 10px;
	border-right: 1px dashed rgba(255,255,255,.75);
	transition: all .5s;
}
nav li:last-of-type a {
	border-right: none;	
}
nav a:hover {
	background-color: rgb(93,43,78);
}
aside h2 {
	font-size: 1.3em;
	margin-top: 10px;	
}
aside h3 {
	font-size: 1.1em;
	margin-top: 15px;
}
aside p, aside li {
	font-size: .75em;
	margin-top: 10px;	
}
.main h2 {
	font-size: 2em;
	margin-top: 10px;	
}
.main h3 {
	font-size: 1.5em;
	margin-top: 20px;	
}
.main p {
	margin-bottom: 15px;	
}
footer {
	margin-top: 15px;
	font-size: .8em;	
	padding: 10px 10px 30px 10px;
	background-color: black;
	color: rgb(204,204,204);
}
footer a {
	color: white;	
}
/* пользовательские стили  */

/* стили для мобильных устройств и базовые стили для всех устройств  */
body {
  /* свойства тела страницы */
  margin: 0 auto;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255,222,213);
}
h1 {
	font-family: "Marker Felt", "Copperplate Gothic Light", serif;
	color: #26273B;
	font-size: 26px;
	text-align: center;
}

form {
	border: 2px solid rgb(104,78,91);
	border-radius: 10px;
	padding: 10px;
	font-size: 18px;
	padding-bottom: 40px;
}

.longUrl {
	width: 280px;
	
}

.button {
	padding: 0 10px;
	color: rgb(93,102,131);
	background-color: #E6E6FA;
	border-radius: 5px;
	box-shadow: 0 0 4px white;
}

.warning {
	color: #1A1A1A;
	border: 0.5px solid black;
	background-color: #FF5E00;
	border-radius: 10px;
	display: block;
	margin-top: 20px;
	padding: 10px;
}

.hidden {
	opacity: 1;
}

.result {
	padding: 10px;
	border: 2px solid rgb(104,78,91);
	border-radius: 10px;
	display: flex column-wrap;
}

.result div {
	flex: 1;
	padding: 10px 0;
	text-align: center;
}

/* только для устройств со средним размером экрана */
@media (min-width: 481px) and (max-width:768px) {
  body {
    /* только для планшетов */
  }

}

/* только для устройств с крупным размером экрана */
@media (min-width:769px) {
  body {
    /* только для компьютеров */
  }

}



